
.coluna-turma{
    display: flex;
    flex-basis: 15%;
    background-color: #97B3E9;
    flex-direction: column;
    flex-grow: 2;
    border-left: #4A1AD3 solid 17px;
}

.coluna-item{
    margin-bottom: 15px;
}

.coluna-lista{
    padding-top: 30px;
}

#coluna-topico{
    background-color: #2541D0;
    border-radius: 0px 10px 10px 0px;
    padding: 15px;
    margin-right: 10px;
}

#coluna-topico a{
    color: white;
    text-decoration: none;
}

#coluna-subtopico{
    background-color: #5A7FDF;
    border-radius: 0px 10px 10px 0px;
    padding: 15px;
    margin-right: 25px;
}

#coluna-subtopico a{
    color: white;
    text-decoration: none;
}