li {
  list-style-type: none;
}

*{
  font-family: 'Sen',sans-serif;
}

/*deficção container*/


/*navbar*/
.navbar{
  display: flex;
  flex-basis: 100%;
  background-color: #2D2D29;
  padding: 5px 20px 5px 20px;
  justify-content: space-between;
  align-items: center;
  height: 79px;
}

.navbar-item{
  display: inline;
}

.navbar-titulo a{
  font-family: 'Sen',sans-serif;
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.imagem-perfil{
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.row{
  display: flex;
  flex-basis: 100%;
}

/*coluna esquerda*/


/*config da home page*/
/*cards das turmas*/
.turma-card{
  display: flex;
  flex-basis: 90%;
  background-color: #e7eaf1;
  flex-wrap: wrap;
  flex-grow: 2;
  flex-direction: row;
  justify-content: space-around;
  min-height: 100vh;
}

.card{
  background-color: #D1D8E4;
  margin: 30px;
  min-height: 160px;
  border-radius: 10px;
  max-height: 200px;
}

.card-item{
  padding: 10px;
  padding-left: 20px;
  max-width: 270px;
  text-align: justify;
}

.card-item a,li{
  font-family: 'Sen', sans-serif;
  color: black;
  text-decoration: none;
}

#titulo-card{
  font-size: 130%;
}

.banner-imagem{
  width: 300px;
  height: 80px;
  border-radius: 10px 10px 0px 0px;
  background-color: #2541D0;
}

#cod{
  background-color: #C4C4C4;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  width: 174px;
}

@media only screen and (max-width: 650px) {

  .row{
      display: block;
      width: 100vw;
      margin-top: 50px;
  }

  .navbar{
      position: fixed;
      width: 100vw;
  }
  
}

/*config dos botões*/
.button-card{
  border: none;
  padding: 10px;
  font-size: 100%;
  border-radius: 10px;
  background-color: #D1D8E4;
}

/*Postagem*/

.main-nav{
  text-align: center;
  border-bottom: #000000 solid 1px;
  padding: 15px;
  height: 50px;
}

.main-nav a{
  text-decoration: none;
  color: #000000;
  margin-right: 2%;
  font-family: 'Sen',sans-serif;
}

.info-turma{
  height: 120px;
  display: block;
  margin: 2% 20%;
  border-radius: 10px;
  background-color: #97B3E9;
  font-family: 'sen',sans-serif;
  padding: 15px;
}

.info-turma h2{
  font-size: 20px;
}

@media (max-width: 650px){
  .main-nav{
    margin-top: 80px;
  }
}

.posts-turma{
  flex-basis: 90%;
  background-color: #e7eaf1;
  align-items: center;
  min-height: 100vh;
}

.posts{
  padding: 5px;
}

.posts-ts{
  padding: 0px 5px 5px 5px;
  border-top: #000000 solid 1px;
  
}

.post{
  display: block;
  margin: 2% 20%;
}

.imagem-perfil-post{
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 0 10px 10px 0;
  float: left;
}

.nome-user{
  font-family: 'sen',sans-serif;
  margin-bottom: 5px;
  font-size: 19px;
}

.postagem{
  clear: left;
  background-color: #D1D8E4;
  height: 100px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 40px;
}

.texto-postagem{
  text-align: left;
  padding: 10px;
  font-family: 'sen',sans-serif;
}

/* duvida da postagem */

.duvida-container{
  display: flex;
  flex-basis: auto;
}

.duvida{
  background-color: #D1D8E4;
  padding: 10px;
  text-decoration: none;
  color: black;

  border-radius: 10px;
  margin-top: -20px;
  margin-bottom: 20px;
}

/* pagina criar postagem*/

/* pagina pessoas */

.pessoas-turma{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  background-color: #e7eaf1;
  min-height: 100vh;
}

.pessoas{
  display: flex;
  flex-basis: 80%;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
}

.pessoas-objeto{
  margin-top: 15px;
}

.pessoas-titulo{
  border-bottom: solid 1px black;
  margin-top: 20px;
}

.foto-pessoas{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0 10px 10px 0;
  float: left;
  margin-left: 5%;
  border: solid 1px black;
}

.nome-pessoas{
  font-size: 120%;
  padding-top: 15px;
}

/* Pagina de atividades */

.atividades-turma{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  background-color: #e7eaf1;
  min-height: 100vh;
}

.atividades{
  display: flex;
  flex-basis: 80%;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
}


.atividades-objeto{
  display: flex;
  flex-direction: column;
  font-size: 120%;
  justify-content:space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  padding-bottom: 10px;
  
  border: solid 1px black;
  border-radius: 10px;
  
  background-color: #97B3E9;
}

.atividades-titulo{
  border-bottom: solid 1px black;
  margin-top: 20px;
  padding-left: 10px;
  font-weight: bold;
}

.atividades-data, .atividades-desc{
  padding-left: 10px;
  padding-top: 5px;
}

.atividades-responder{
  padding: 10px;
  max-width: 100px;
  background-color: #5D80DB;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
  color: white;
}

/* Botão criar */

.botao-criar{
  display: flex;
  flex-direction: row-reverse;
  
  margin-bottom: 10px;
}

.botao{
  padding: 10px 20px 10px 20px;

  margin: 5px 10px 10px 20px;
  
  border-radius: 10px;
  font-size: 20px;

  text-decoration: none;
  color: white;
  background-color: #5D80DB;
}

.botao-atividades{
  padding: 10px 20px 10px 20px;

  margin: 20px 10px -70px 20px;
  
  border-radius: 10px;
  font-size: 20px;

  

  text-decoration: none;
  color: white;
  background-color: #5D80DB;
}

/*rodape*/

.registro-turma{
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  align-items:center;
  border-radius: 10px;
  padding: 0px 100px 500px 15px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.registro-button-reg{
  padding: 12px 30px;
  width: 40%;
  margin-top: 30px;
  background-color: #e7e7e7;
  font-family: 'Sen',sans-serif;
  font-size: 24px;
  border: none;
  outline: none;
  border-radius: 10px;
  flex-shrink: 1;
  min-width:125px;
  
}
  
.campo-reg{
  padding: 0px 15px;
  background-color: rgb(255, 255, 255);
  border: none;
  outline-style: none;
  color: rgb(0, 0, 0);
  text-align: left;
  width:300px;
  height:100px;
}

